body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.page {
    margin-top: 50px;
}

input, button {
    margin: 10px;
    padding: 10px;
}

button {
    cursor: pointer;
}

.error {
    color: red;
}